.App {
  text-align: center;
  min-height: 100vh;
  background: black;
}

.rfm-marquee-container  {
  background: black;
  color: white;
  position: absolute !important;
  top: 65px;
  height: 167px;
  width: 230px !important;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 10000;
  font-size: 24px;
}

.timer-text {
  font-size: 30px;
  display: block;
  padding: 0 20px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text-block {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  padding: 10px 20px;
  line-height: 1.6
}

.text-block h3 {
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  margin: 0;
  text-align: right;
}

.text-block p {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  word-break: break-word;
}

.redacted {
  background: white;
}

.main-title {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  word-break: break-word;
  color: white;
}